* {
	font-family: 'Roboto';
	box-sizing: border-box;
}

body {
	background: url('assets/background.jpg');
	background-repeat: no-repeat;
	background-size: 105vw 110vh;
	overflow: hidden;

	margin: 0;
	user-select: none;
}

.zoom {
	background-size: 155vw;
	background-position: 40% 40%;
}

.zoom.content {
	background-size: 170vw;
	background-position: 40% 30%;
}

.shutter {
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.3);
	z-index: -1;
	position: fixed;
	left: 0;
	top: 0;
}

#loginHeader {
	color: #0F3A5E;
	position: relative;
	font-size: 2.4em;
	margin: 0.7% 0 0 7%;
	user-select: none;
}

#loginHeader img {
	float: left;
	position: relative;
	min-height: 150px;
	height: 21vh;
	border-radius: 40%;
}

#loginHeader h1 {
	position: relative;
	top: 1vh;
	left: 0.4%;
	margin: 0;
	padding: 0;
}

#loginHeader h5 {
	position: relative;
	top: -2vh;
	left: 3.5%;
	margin: 0;
	padding: 0;
}

.userForm {
	background: white;
	width: 40%;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0;
	position: relative;
	top: 10vh;
	border-radius: 7px;
}

.userForm form {
	font-size: 2em;
}

.userForm * {
	display: block;
	margin: 0 auto;
}

.userForm form input[placeholder] {
	width: 90%;
	font-size: 0.6em;
	padding: 5px 2%;
	color: #0F3A5E;
	border: none;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
}

.userForm form input[placeholder]:focus {
	outline: none;
	border-bottom: 3px solid #0F3A5E;
}

.userForm form .button {
	background: #0F3A5E;
	text-decoration: none;
	font-family: 'Roboto';
	font-weight: bold;
	border: none;
	border-radius: 20px;
	padding: 7px 45px;
	font-size: 0.6em;
	color: white;
	float: right;
	position: relative;
	right: 5%;
	cursor: pointer;
}

.userForm.password form .buttons {
	width: 90%;
	margin: 7% auto 0;
	display: flex;
}

.userForm.password form .buttons *:first-child {
	background: white;
	color: #0F3A5E;
	border: 1px solid #0F3A5E;
}

.userForm.password form .buttons *:nth-child(2) {
	flex: 4;
}

.userForm.password form .buttons * {
	position: initial;
	display: initial;
	float: initial;
}

.userForm.password form button {
	display: initial;
	position: initial;
	float: initial;
}

.userForm #helpLinks {
	position: relative;
	left: 0;
	width: 50%;
	margin: 0;
	text-align: left;
	padding-left: 5%;
	margin-top: 10%;
}

.userForm #helpLinks a {
	text-decoration: none;
	color: #0F3A5E;
	font-size: 1.3em;
	margin: 5% 0;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease;
}

.modal-container:target {
  opacity: 1;
  pointer-events: all;
}

.modal {
  margin: auto;
  width: 30%;
  max-width: 40rem;
  background-color: white;
  background: linear-gradient(135deg, #144D7D, #071B2B);
  border-radius: 1.5rem;
  box-shadow: 0 1rem 2rem #000a;
}

.modal-header,
.modal-content {
  padding: 1.5rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  background-color: #3DA5B5;
  border-radius: 1.5rem 1.5rem 0 0;
  border: 4px solid #f7baf72f;
  border-bottom: none;
}

.modal-title {
  margin: 0;
  color: white;
}

.modal-close {
  color: transparent;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  overflow: hidden;
  background-image:
    linear-gradient(
      to top right,
      transparent 48%,
      white 48%,
      white 52%,
      transparent 52%
    ),
    linear-gradient(
      to top left,
      transparent 48%,
      white 48%,
      white 52%,
      transparent 52%
    );
}

.modal-close:hover,
.modal-close:focus {
  background-image:
    linear-gradient(
      to top right,
      transparent 46%,
      white 46%,
      white 54%,
      transparent 54%
    ),
    linear-gradient(
      to top left,
      transparent 46%,
      white 46%,
      white 54%,
      transparent 54%
    );
}

.modal-content {
  color: white;
  border-radius: 0 0 1.5rem 1.5rem;
  border: 4px solid #f7baf744;
  border-top: none;
}

.modal-content table tr td:nth-child(2) {
	width: 5%;
}

.modal-content table {
	border-spacing: 10px 30px;
}

.modal-content a {
	text-decoration: none;
	color: inherit;
}

.site-header {
	font: 1.125em / 1.25 Roboto, sans-serif;
  background: linear-gradient(135deg, #F4F2F3, #D1D1D1);
  color: #0F3A5E;
  padding: 5px 5px 5px 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 90px;
  width: 100%;
  z-index: 3;
}

.site-header a {
	text-decoration: none;
  color: #0F3A5E;
}

/* MENU */

.site-header ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-header .nav-list {
	background: none;
	display: flex;
	align-items: center;
  clear: none;
  float: right;
  max-height: none;
  text-align: center;
  transition: max-height .2s ease-out;
  font-size: 1.2em;
}

.site-header .nav-list li {
	align-items: center;
	transition: all 0.3s ease-in-out;
}

.site-header .nav-list li:hover {
	background: rgba(255, 255, 255, 0.8);
	background: #AAA;
}

.site-header .nav-list li:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.site-header .nav-list li a {
	border-radius: 10px;
  display: flex;
	align-items: center;
  padding: 20px 30px;
  text-decoration: none;
  position: relative;
  height: 100%;
}

.site-header .nav-list li a img {
	height: 55%;
}

.site-header .nav-list > li {
	border-radius: 10px;
}

.site-header .nav-list > li:first-child {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.site-header .nav-list > li:nth-last-child(2) a {
	padding: 10px 30px;
}

.site-header .nav-list > li:last-child {
	display: none;
}

.dropdown {
	position: relative;
	border-radius: 12px;
}

.dropdown:hover .dropdown-menu {
  top: initial;
  visibility: visible;
  opacity: 1;
}

.dropdown-menu {
  visibility: hidden;
  opacity: 0;
  top: -100vh;
  position: absolute;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: all 0.35s ease-in-out;
  border-radius: 15px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
	background: lightgrey;
  text-decoration: none;
  display: block;
}

.dropdown-menu li:hover {
  background: rgba(255, 255, 255, 0.8);
}

.dropdown-menu li a {
	border-radius: 10px;
  display: block;
  color: #333;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  color: #000;
}

/* menu icon */

.site-header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.site-header .menu-icon {
  cursor: pointer;
  display: none;
  float: right;
  padding: 40px 20px;
  position: relative;
  user-select: none;
}

.site-header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.site-header .menu-icon .navicon:before,
.site-header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.site-header .menu-icon .navicon:before {
  top: 5px;
}

.site-header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.site-header .menu-btn {
  display: none;
}

.site-header .menu-btn:checked~.nav-list {
  max-height: 100vh;
  height: calc(100vh - 90px);
}

.site-header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.site-header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.site-header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.site-header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.site-header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.site-name {
  margin: 0;
  width: 25%;
  font-size: 1.45em;
  display: flex;
  justify-content: space-between;
}

.site-name h1 {
	margin: auto 0;
	padding: 0;
}

.site-name img {
	min-height: 70px;
	height: 13.5vh;
	margin-right: 5%;
	border-radius: 40%;
}

footer {
	position: fixed;
	height: 20px;
	bottom: 0;
	width: 100%;
	text-align: right;
	padding: 1px 3%;
	background: rgba(255, 255, 255, 0.5);
	font-size: 0.9em;
}

main, main h1, main h3 {
	margin: 0;
	padding: 0;
}

main {
	font-size: 2.5em;
	color: white;
}

main.main {
	padding: 5%;
}

main h3 {
	margin-top: 50px;
	font-size: 0.7em;
}

#data {
	background: linear-gradient(-135deg, #F4F2F3, #D1D1D1);
	width: 80%;
	max-height: 80%;
	margin: 1% auto;
	padding: 20px;
	position: fixed; 
	border-radius: 20px 20px 0 0;
	overflow-y: scroll;
	overscroll-behavior: contain;
	left: 50%;
	transform: translate(-50%, 0);
}

#data table {
	width: 100%;
  color: #0F3A5E;
	text-align: center;
	font-size: 0.9em;
}

#data table tr {
	display: flex;
}

#data table th {
	border: 1px solid black;
}

#data table th:first-child {
	flex: 1.5;
}

#data table th:nth-child(2) {
	flex: 10;
}

#data table th:nth-last-child(2) {
	flex: 5;
}

#data table th:last-child {
	flex: 7;
}

#data table td {
	border-collapse: collapse;
	flex: 1;
	font-size: 0.7em;
	border: 1px solid black;
	user-select: text;
}

#data table td:first-child {
	flex: 1.5;
}

#data table td:nth-child(2) {
	flex: 10;
}

#data table td:nth-last-child(2) {
	flex: 5;
}

#data table td:last-child {
	flex: 7;
}

/* Employees worktime  */
.employeesTimeLayout {
	display: flex;
	justify-content: space-around;
	position: relative;
}

.employeesTimeLayout > div {
	background: whitesmoke;
	color: #0F3A5E;
	flex: 2;
	border: 1px solid black;
	border-radius: 10px;
	margin: 2%;
	padding: 20px;
	overscroll-behavior: contain;
	left: 5%;
}

.employeesTimeLayout div:first-child {
	flex: 6;
}

.employeesTimeLayout div:last-child {
	height: 100%;
}

.employeesTimeLayout div:last-child h2 {
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}

.employeesTimeLayout div:last-child select {
	width: 100%;
	height: 2em;
	font-size: 0.5em;
}

.employeesTimeLayout div:last-child div {
	font-size: 0.58em;
	border: none;
	padding: 0;
}

.employeesTimeLayout div:last-child div table {
	width: 100%;
}

.employeesTimeLayout div:last-child div table td:last-child{
	text-align: left;
}

#calendar-wrapper {
    width: 100%;
    display: grid;
    grid-template-rows: 2.5em 1fr;
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0.7em;
}

#calendar-wrapper header {
    grid-row: 1/2;
    font-size: 2em;
    box-sizing: inherit;
}

#calendar-wrapper header h4 {
    padding: 0;
    margin: 0;
}

#calendar {
    display: grid;
    grid-template-columns: 1fr 4em;
    grid-template-rows: 3em 1fr;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

#calendar #calendar-days,
#calendar #calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding: 0 1em;
    box-sizing: inherit;
    margin: 0;
}

#calendar #calendar-days {
    justify-items: center;
    grid-row: 1/2;
    grid-column: 1/2;
}

#calendar #calendar-grid {
    grid-template-rows: repeat(6, 1fr);
    justify-items: flex-start;
    grid-row: 2/-1;
    grid-column: 1/2;
    width: 100%;
}

#calendar #calendar-grid > time {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0.4em;
    padding: 1em 0.2em;
    width: 90%;
    background-color: rgba(108, 108, 108, 0.02);
    border-radius: 3px;
    border: 2px solid transparent;
    transition: box-shadow 200ms, border 100ms;
    box-shadow: 1px 1px rgba(0, 0, 0, 0);
    box-sizing: inherit;
}

#calendar #calendar-grid time.selected,
#calendar #calendar-grid time.selected:focus {
    outline: none;
    border: 2px solid #0F3A5E;
    box-sizing: inherit;
}

#calendar #calendar-grid time.disabled,
#calendar #calendar-grid time.disabled:focus {
    outline: none;
    border: 2px solid transparent;
    box-sizing: inherit;
    cursor: not-allowed;
    background-color: rgba(30, 39, 51, 0.2);
    box-shadow: 1px 1px rgba(0, 0, 0, 0);

}

#calendar #calendar-grid > *:hover {
    border: 2px solid rgba(72, 72, 72, 0.5);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    box-sizing: inherit;
}

#calendar #navigation-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-row: 2/-1;
    grid-column: 2/-1;
    box-sizing: inherit;
    padding: 1em 0 3.5em;
    margin: 0;
}

#calendar #navigation-wrapper button, #calendar #navigation-wrapper p {
    cursor: pointer;
    background: transparent;
    border: 0;
    font-size: 3em;
    width: 1.6em;    
    box-sizing: inherit;
    padding: 0.1em;
    margin: 0;
}

#calendar #navigation-wrapper button:hover, #calendar #navigation-wrapper p:hover {
    opacity: 0.75;
}

#calendar #navigation-wrapper button svg, #calendar #navigation-wrapper p svg {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1.6em;
    display: block;
    box-sizing: inherit;
}

#calendar #navigation-wrapper button:first-of-type ,#calendar #navigation-wrapper p:first-of-type{
    transform: rotate(180deg);
}

#calendar #navigation-wrapper button[disabled] svg, #calendar #navigation-wrapper p svg {
    cursor: not-allowed;
    fill: rgba(30, 39, 51, 0.2);
}

#employeesSearchBar {
	width: 90%;
	margin: 2% auto 1%;
	position: relative;
	display: flex;
	color: #0F3A5E;
}

#employeesSearchBar input:not([type=submit]) {
	width: 90%;
	font-size: 0.8em;
	padding: 6px 13px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
	color: inherit;
	outline: none;
	flex: 13;
}

#employeesSearchBar input[type=submit] {
	font-size: 0.8em;
	width: 10%;
	border: none;
	cursor: pointer;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: all 0.17s ease-in-out;
	color: inherit;
	flex: 2;
}

#employeesSearchBar input[type=submit]:hover {
	background: darkgray;
	color: #fff;
}

main {
	position: relative;
	overflow-y: scroll;
}

#employeesList {
	width: 90%;
	overflow-y: scroll;
	max-height: 70vh;
	padding: 20px;
	background: white;
	border-radius: 10px;
	color: #0F3A5E;
	height: 68vh;
	position: relative;
	top: 3vh;
	margin: 0 auto;
	bottom: 50px;
}

.employeeTile {
	display: flex;
	justify-content: space-around;
	border-bottom: 2px solid #0F3A5E;
	padding: 2%;
	cursor: pointer;
}

.employeeTile:hover {
	background: lightgray;
}

.employeeTile:first-child {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.employeeTile:last-child {
	margin: 0;
	border: none;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.employeeTile img {
	border-radius: 50%;
	flex: 2;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'tl tr'
    'bl br';
  gap: 10px;
  padding: 10px;
  flex: 10;
  margin-left: 3%;
  font-size: 0.9em;
}

.tl {
	grid-area: tl;
}

.tr {
	grid-area: tr;
}

.bl {
	grid-area: bl;
}

.br {
	grid-area: br;
}

.return {
	position: absolute;
	margin-top: 1%;
	margin-left: 1%;
	color: white;
	background: #0F3A5E;
	font-size: 0.9em;
	border-radius: 15px;
	padding: 2px 5% 2px 2.5%;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.return:hover {
	background: #185A94;
}

.return p {
	margin: 0;
	padding: 0;
	margin-left: 36%;
}

.arrow {
  position: absolute;
	margin-top: 3%;
	margin-left: 4%;
  transform: translate(-50%, -50%);
  transform: rotate(90deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
}

.return:hover .arrow span {
	animation: animate 2s infinite;
}

.return .arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.return .arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-50%, -50%);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(50%, 50%);
    }
}

#employeeDetails {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	color: #0F3A5E;
}

#employeeDetails div:nth-last-child(2):not(.arrow) {
	flex: 2;
	margin: 3% 0 10% 5%;
	text-align: center;
	position: relative;
	top: 10%;
}

#employeeDetails div:nth-last-child(2) img {
	border-radius: 50%;
	position: relative;
	width: 80%;
	top: 30%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

#employeeDetails div:last-child:not(.arrow) {
	background: white;
	flex: 4;
	margin: 3% 3% 10% 5%;
	border-radius: 15px;
	padding: 2px 5%;
	overflow-y: scroll;
}
#employeeDetails div:last-child p {
	margin: 0;
	padding: 0;
}

.hr {
	height: 2px;
	width: 80%;
	background: #0F3A5E;
	margin: 2% auto !important;
	padding: 0;
}

@media only screen and (max-width: 1364px) {
	.modal {
		width: 45%;
	}

	.userForm form .button {
		float: initial;
		display: initial;
		position: initial;
		width: 80%;
		margin: 0 auto;
	}

	.userForm.password form .buttons {
		display: flex;
  		flex-direction: column-reverse;
	}

	.userForm.password form .buttons * {
		display: block;
		position: initial;
		width: 80%;
		margin-bottom: 2%;
	}

	.userForm.password form .buttons a {
		padding: 7px 2px;
	}

	.userForm #helpLinks {
		width: 100%;
	}

	.userForm #helpLinks a {
		margin: 2% 0;
	}
}

@media only screen and (max-width: 1200px) {
	.employeeTile img {
		border-radius: 50%;
		width: 20%;
	}

	.grid-container * {
		display: block;
		font-size: 0.8em;
	}

	.employeeTile img {
		width: 20vw;
		height: 20vw;
	}

	#employeeDetails div:last-child:not(.arrow) {
		position: relative;
		top: 10%;
	}

	#employeeDetails div:nth-last-child(2) img {
		top: 50%;
	}
}

@media only screen and (max-width: 1000px) {
	body {
		background-size: 150vw;
		overflow: initial;
	}

	.zoom {
		background-size: 200vw;
	}

	.zoom.content {
		background-size: 220vw;
	}

	.site-header {
		font-size: 0.8em;
	}

	.site-header .nav-list {
		font-size: 1.4em;
	}

	.employeeTile img {
		width: 20vw;
		height: 20vw;
	}

	#employeeDetails {
		display: initial;
	}

	#employeeDetails * {
		display: block;
		position: relative;
	}

	#employeeDetails div:nth-last-child(2) img {
		width: 40vw !important;
		margin: 0 auto;
		transform: none;
	}

	.return {
		padding: 2% 5% 1% 2.5%;
		margin: 2% auto;
		width: 95%;
		text-align: center;
	}

	.return p {
		margin: 0;
	}

	#employeeDetails div:not(.arrow) {
		top: 0;
	}

	#employeeDetails div:nth-last-child(2):not(.arrow) {
		margin: 0;
	}
}

@media only screen and (max-width: 860px) {
	body {
		background-size: 220vw;
		overflow: initial;
	}

	.zoom {
		background-size: 280vw;
	}

	.zoom.content {
		background-size: 310vw;
	}

	.modal {
		width: 70%;
	}

	#loginHeader {
		margin: 0;
	}

	#loginHeader img {
		float: none;
		position: initial;
		display: block;
		min-height: 150px;
		height: 21vh;
		border-radius: 40%;
		margin: 0 auto;
	}

	#loginHeader h1 {
		position: initial;
		display: block;
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 0;
	}

	#loginHeader h5 {
		position: initial;
		display: block;
		width: 100%;
		font-size: 0.7em;
		text-align: center;
		margin: 0;
		padding: 0;
	}

	.userForm {
		position: initial;
		display: block;
		width: 60%;
		margin: 20px auto;
		text-align: center;
		padding: 30px 0;
		border-radius: 7px;
	}
  
  .site-header .nav-list {
    clear: both;
    display: block;
    position: absolute;
    background: linear-gradient(to bottom right, #E0E0E0, #B8B8B8);
    left: 0;
    top: 90px;
    width: 100%;
    max-height: 0;
	  text-align: center;
	  transition: max-height .2s ease-out;
		font-size: 1.9em;
  	overflow: scroll;
  }

	.site-header .nav-list li {
    float: none;
    display: block;
    height: initial;
  }

  .site-header .nav-list li a {
    display: block;
	  padding: 20px 20px;
	  text-decoration: none;
  }

	.site-header .nav-list * {
		position: relative;
		display: block;
	}

  .site-header .menu-btn:checked~.nav-list {
  	max-height: 100vh;
	  height: calc(100vh - 90px);
	  display: block;
  }

  .site-header .menu-btn:checked~.nav-list * {
  	display: block;
  }

  .site-header .nav-list > li:first-child {
  	border-radius: 12px;
  }

  .site-header .nav-list > li:nth-last-child(2) {
  	display: none !important;
  }

  .site-header .menu-icon {
    display: inline-block;
  }

  .dropdown-menu {
  	display: none;
  	visibility: visible;
		opacity: 1;
  	top: initial;
  	box-shadow: 8px 8px 24px 10px rgba(0,0,0,0.2);
  }

  main {
  	font-size: 5vw;
  }

  .employeesTimeLayout {
  	display: block;
  }

  .grid-container {
  	font-size: 0.95em;
  }

  .employeeTile img {
		border-radius: 50%;
		width: 20vw;
		height: 20vw;
	}
}

@media only screen and (max-width: 560px) {
	body {
		background-size: 280vw;
	}

	.modal-content table td {
		display: inline-block;
	}

	.modal-content table tr td:first-child {
		width: 100%;
	}

	.site-header .nav-list {
		font-size: 1.6em;
	}

	#loginHeader h5 {
		font-size: 0.57em;
	}

	.userForm {
		width: 80%;
	}

	.userForm #helpLinks a {
		font-size: 1em;
		margin: 7% 0 0;
	}

	.employeeTile img {
		border-radius: 50%;
	}
}